.setor, .tpequip, .datesDevolucao {
    display: flex;
    align-items: center;
}
.setor span {
    width: 120px;
}
.tpequip span {
    width: 170px;
}
.selectSetor, .selectTpequip{
    flex: 1;
    font-size: .8rem;
    border-radius: 10rem;
    padding: 0.4rem 1rem;
    color: #6e707e;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.datesDevolucao span {
    width: 170px;
}
.datesDevolucao input {
    width: 200px;
}